[submodule "third_party/expand_langchain"]
	path = third_party/expand_langchain
	url = https://github.com/ldilab/expand_langchain.git
[submodule "third_party/ClassEval"]
	path = third_party/ClassEval
	url = git@github.com:ldilab/ClassEval.git
[submodule "third_party/LLaMA-Factory"]
	path = third_party/LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "third_party/LiveCodeBench"]
	path = third_party/LiveCodeBench
	url = https://github.com/LiveCodeBench/LiveCodeBench.git
